<div class="grid">
  <h1 class="header">Uniterm Editor</h1>

  <app-builder-section class="builder" (treeChange)="onBuilderTree($event)"
    (save)="onBuilderSave($event)"></app-builder-section>

  <app-store-section class="store" (assignTarget)="onAssignTarget($event)"
    (assignReplacement)="onAssignReplacement($event)"></app-store-section>

  <app-swap-section class="swap" [target]="target" [replacement]="replacement"
    (swap)="onSwap($event)"></app-swap-section>

  <app-result-section class="result" [resultTree]="resultTree" (saveResult)="onSaveResult($event)"></app-result-section>
</div>