:host {
  display: block;
  padding: 1rem;
}

.grid {
  display: grid;
  gap: 1rem;

  grid-template-areas:
    "header header header"
    "builder builder builder"
    "store store store"
    "swap swap result";
  grid-template-columns: 1fr 1fr 1fr;
}

.header {
  grid-area: header;
  margin: 0 0 1rem;
}

.builder {
  grid-area: builder;
}

.store {
  grid-area: store;
}

.swap {
  grid-area: swap;
}

.result {
  grid-area: result;
}